.review-form-border {
  border: 0.5px solid lightgrey;
  border-radius: 4px;
  padding: 10px;
}

#textarea {
  width: 90%;
  height: 200px;
  border: none;
  font-size: 12px;
}

#textarea::placeholder {
  color: lightgrey;
}

textarea:focus,
button:focus {
  outline: none;
}

.radio-button {
  display: flex;
  margin-right: 10px;
  flex-direction: column;
  align-items: center;
}

input#quality,
input#quantity,
input#pricing {
  margin-top: 5px;
}

.radio-star {
  font-size: 12px;
  margin-bottom: 10px;
}

.star-value {
  font-weight: bold;
  text-decoration: underline;
}

.radio-button-div {
  display: flex;
  flex-direction: row;
}

.review-form-border .form-input {
  width: 100%;
}

@media only screen and (min-width: 450px) {
  .radio-button {
    flex-direction: row;
  }
  input#quality,
  input#quantity,
  input#pricing {
    margin: 4px 4px 6px 2px;
  }
}

@media only screen and (min-width: 650px) {
  .review-form {
    margin: 0 auto;
  }
  #textarea {
    font-size: 16px;
  }
  .radio-star {
    font-size: 16px;
  }
  input#quality,
  input#quantity,
  input#pricing {
    margin: 4px 4px 2px 4px;
  }
}
