.review-form-border {
  border: 0.5px solid lightgrey;
  border-radius: 4px;
  padding: 10px;
}

#textarea {
  width: 475px;
  height: 200px;
  border: none;
  font-size: 18px;
}

#textarea::placeholder {
  color: lightgrey;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.radio-button-div {
  display: flex;
  flex-direction: row;
}

input#quantity {
  margin: 8px 4px 12px 0;
}

input#quality {
  margin: 8px 4px 12px 0;
}
input#pricing {
  margin: 8px 4px 12px 0;
}

.radio-button {
  display: flex;
  margin-right: 12px;
}

.form-error {
  width: 475px;
}

.signup-button {
  background-color: #d32323;
  border-color: #8d0005;
  border-radius: 3px;
  padding: 14px 72px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
