.review-form-border {
  border: 0.5px solid lightgrey;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
}

#textarea {
  width: 475px;
  height: 200px;
  border: none;
  font-size: 18px;
}

#textarea::placeholder {
  color: lightgrey;
}

textarea:focus,
button:focus {
  outline: none;
}

.radio-button-div {
  display: flex;
  flex-direction: row;
}

input#quantity {
  margin: 8px 4px 12px 0;
}

input#quality {
  margin: 8px 4px 12px 0;
}
input#pricing {
  margin: 8px 4px 12px 0;
}

.radio-button {
  display: flex;
  margin-right: 12px;
}

/* .form-error {
  width: 475px;
} */
