.login {
    text-align: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px auto;   
}
.form-input {
    width: 300px;
    margin-bottom: 6px;
}
.form-input input {
    width: 150px;
}
