.nav-search-box {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 10px 5px;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.header-filter-box {
  margin-top: 10px;
}

.search-results-container {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
}

.search-results-column {
  width: 75%;
  margin: 0 auto;
}

.reviews-number {
  padding-top: 0;
}

.search-results-map-container {
  width: 75%;
  position: relative;
  margin: 0 auto;
}

.search-results-map {
  width: 100%;
  height: 275px;
  background-color: lightblue;
  border: 1px solid black;
}

@media only screen and (min-width: 450px) {
  .search-results-box {
    margin-right: 0;
  }
  .findings-image {
    height: 90px;
  }
  .findings-image img {
    min-width: 90px;
    max-width: 90px;
    min-height: 90px;
  }
  .info-place-ratings,
  .address-open-review {
    width: 100%;
  }
  .info-title {
    font-size: 14px;
  }
  .info-place h5,
  .info-place li,
  .info-place p {
    font-size: 12px;
  }
}

@media only screen and (min-width: 580px) {
  .info-title {
    font-size: 14.5px;
  }
  .info-place h5,
  .info-place li,
  .info-place p {
    font-size: 13.5px;
  }
}

@media only screen and (min-width: 800px) {
  .search-results-container {
    flex-direction: column;
  }
  .search-results-map-container {
    width: 33%;
    height: 325px;
    position: fixed;
    right: 60px;
  }
  .search-results-map {
    width: 300px;
    height: 325px;
  }
  .search-results-column {
    width: 66%;
    margin: 0;
  }
  .findings-image {
    height: 120px;
  }
  .findings-image img {
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
  }
  .info-title {
    font-size: 15px;
  }
  .info-place h5,
  .info-place li,
  .info-place p {
    font-size: 15px;
  }
  .search-results-container {
    margin-left: 11.5%;
    margin-right: 11.5%;
  }
  .search-results-box {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  .reviews-number {
    padding-top: 15px;
  }
}

@media only screen and (min-width: 1060px) {
  .nav-search-box {
    flex-direction: row;
  }
}
