.nav-search-box {
    padding: 10px;
    background-color: lightblue;
}

.header-filter-box {
    padding-bottom: 30px;
    background-color: lightgrey;
}

.search-results-container {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}

.search-results-column {

}

.search-results-box {
    margin-right: 30px;
}

.search-results-map-container {

}

.search-results-map {
    width: 300px;
    height: 325px;
    background-color: lightblue;
    border: 1px solid black;
}