.nav-search-box {
  padding: 5px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  padding-right: 20px;
  align-items: center;
}

.header-filter-box {
  margin-top: 10px;
}

.search-results-container {
  margin-left: 11.5%;
  margin-right: 11.5%;
  display: flex;
}

.search-results-column {
  width: 66%;
}

.search-results-box {
  margin-right: 30px;
}

.search-results-pagination {
  margin-right: 5%;
}

.search-results-map-container {
  width: 33%;
  position: fixed;
  right: 60px;
  margin-top: -25px;
}

.search-results-map {
  width: 300px;
  height: 325px;
  background-color: lightblue;
  border: 1px solid black;
}
