.place-result-reviews-box {
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.place-result-reviews {
  list-style-type: none;
  padding-left: 0;
  margin-left: 5%;
  margin-right: 5%;
  border-right: 1px solid lightgray;
}

.place-result-review-list {
  border-bottom: 0.1px solid lightgray;
  margin-right: 25px;
  padding-right: 10px;
}

.place-result-review {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-top: 25px;
  padding-bottom: 15px;
}

.place-result-review p {
  font-size: 14px;
}

.user-name h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.place-review-ratings-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.place-review-ratings-list li {
  margin-right: 15px;
  border-bottom: 0.1px solid darkgray;
}

.place-aggregate-rating {
  border-right: 0.1px solid darkgray;
  padding-right: 4px;
}
.review-created-date {
  font-size: 12px;
}
