.search-results-list {
  padding-left: 0;
}

.search-results {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  border-top: 0.1px solid lightgray;
  padding-top: 15px;
  padding-bottom: 10px;
}

.search-results:last-child {
  border-bottom: 0.1px solid lightgray;
}

.info-title {
  display: flex;
}

.index {
  padding-right: 5px;
}

.img {
  padding-left: 10px;
  margin-right: 25px;
  margin-top: 15px;
}

.address p {
  margin-top: 0;
}

.info {
  width: 80%;
}

i .info h5,
.info h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.info p {
  margin-top: 0;
  margin-bottom: 0;
}

.info-place {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
}

.info-place-ratings {
  width: 40%;
}

.info-place-ratings h5 {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.info-place-ratings-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.info-place-ratings-list li {
  font-size: 15px;
}

.address-open-review {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 60%;
}

.address-open-review p {
  font-size: 15px;
}

.open-closed p {
  font-size: 15px;
}

.gm-style h3 {
  margin-top: 0;
  margin-bottom: 5px;
}
