.rate-header-box {
  background-color: #afe5f7;
}

.rate-header {
  display: flex;
  margin: 0 12.5%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.rate-header-title {
  display: flex;
  align-items: center;
}

.rate-header-title h2 {
  color: white;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

.rate-section {
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 500px;
}

.review-section {
  display: flex;
  flex-direction: column;
}

.review-writing-section {
  width: 50%;
}

@media only screen and (max-width: 650px) {
  .rate-section {
    width: 75%;
  }
  .review-form {
    margin: 0 auto;
  }
  .review-form-border .form-input {
    width: 100%;
  }
  #textarea {
    width: 100%;
    font-size: 12px;
  }
  .radio-star {
    font-size: 16px;
  }

  input#quality,
  input#quantity,
  input#pricing {
    margin: 6px 4px 12px 0;
  }
}

@media only screen and (max-width: 500px) {
  .radio-button {
    display: flex;
    margin-right: 12px;
    flex-direction: column;
    align-items: center;
  }
  input#quality,
  input#quantity,
  input#pricing {
    margin: 0;
  }
  .radio-star {
    font-size: 14px;
  }
}
