.rate-header-box {
  background-color: #afe5f7;
}

.rate-header {
  display: flex;
  margin: 0 12.5%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.rate-header-title {
  display: flex;
  align-items: center;
}

.rate-header-title h2 {
  color: white;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

.rate-section {
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 500px;
}

.review-section {
  display: flex;
  flex-direction: column;
}

.review-writing-section {
  width: 50%;
}
