.rate-header-box {
  background-color: #afe5f7;
}

.rate-header {
  display: flex;
  flex-direction: column;
  margin: 0 12.5%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.rate-header-title {
  display: flex;
  align-items: center;
}

.rate-header-title h2 {
  color: white;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

.rate-section {
  margin-left: 10.5%;
  margin-right: 10.5%;
  width: 75%;
}

@media only screen and (min-width: 450px) {
  .rate-header {
    flex-direction: row;
  }
  .sc-ifAKCX {
    font-size: 34px;
  }
}

@media only screen and (min-width: 650px) {
  .rate-section {
    width: 500px;
  }
  .sc-ifAKCX {
    font-size: 38px;
  }
}
