.place-result-detail-box {
  background: #f5f5f5;
}

.place-result-detail {
  display: flex;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.place-result-left {
  width: 66%;
}

.place-result-title h2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.place-images-box {
  margin-top: 25px;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.place-images {
  display: flex;
  width: 100%;
  height: 225px;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.place-image {
  min-width: 225px;
  min-height: 225px;
  max-height: 100%;
  max-width: 100%;
}

.place-result-left-box {
  display: flex;
}

.place-result-left-ratings {
  width: 40%;
}

.place-result-left-ratings h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.reviews-number {
  margin-bottom: 0;
  padding-top: 20px;
}

.place-result-left-info {
  width: 50%;
}

.place-result-left-info h5 {
  margin-top: 2px;
  margin-bottom: 0;
}

.place-result-right {
  width: 33%;
  margin-top: 10px;
  background: #fff;
  padding-bottom: 10px;
  margin-left: 1%;
}

.place-result-map {
  width: 100%;
  height: 75%;
  background-color: lightblue;
}

.place-ratings-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.place-ratings-list li {
  font-size: 16px;
}

.write-a-review-button {
  background-color: #d32323;
  border-color: #8d0005;
  border-radius: 3px;
  padding: 9px 18px;
  margin-top: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.open-closed h5 {
  font-size: 15px;
}

.hours-list {
  padding-left: 0;
  list-style-type: none;
  margin-top: 0;
}

.hours-list tr {
  font-size: 14px;
}

.hours-list th {
  text-align: left;
}

.place-address p,
.place-number p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.place-website {
  margin-top: -2px;
}

.place-website a {
  text-decoration: none;
  color: #0073bb;
  font-size: 14px;
}

.place-website a:visited {
  text-decoration: none;
  color: #0073bb;
}
