.place-result-detail-box {
  background: #f5f5f5;
}

.place-result-detail {
  display: block;
  margin: 0 5%;
}

.place-result-left,
.place-result-right {
  width: 100%;
}

.place-result-title h2 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.place-images-box {
  margin-top: 25px;
  margin-left: 6%;
  margin-right: 6%;
}

.place-images {
  display: flex;
  width: 100%;
  height: 225px;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.place-image {
  min-width: 225px;
  min-height: 225px;
  max-height: 100%;
  max-width: 100%;
}

.place-result-left-box {
  display: flex;
}

.place-result-left-ratings {
  width: 35%;
}

.place-result-left-ratings h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
}

.place-reviews-number {
  margin-bottom: 0;
  padding-top: 20px;
  font-size: 11px;
}

.place-result-left-info {
  width: 55%;
  margin-left: 2.5%;
}

.place-result-left-info h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.place-result-right {
  margin-top: 10px;
  background: #fff;
  padding-bottom: 10px;
}

.place-result-map {
  background-color: lightblue;
  width: 100%;
  height: 275px;
}

.place-ratings-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.place-ratings-list li {
  font-size: 11px;
}

.write-a-review-button {
  background-color: #d32323;
  border-color: #8d0005;
  border-radius: 3px;
  border-width: thin;
  padding: 9px 18px;
  margin-top: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}
.write-a-review-button:hover {
  background: #be2020;
}
.open-closed h5 {
  font-size: 12px;
}

.hours-list {
  padding-left: 0;
  list-style-type: none;
  margin-top: 0;
}

.hours-list tr {
  font-size: 11px;
}

.hours-list th {
  text-align: left;
}

.place-address p,
.place-number p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
}

.place-website {
  margin-top: -2px;
  overflow: hidden;
}

.place-website a {
  text-decoration: none;
  color: #0073bb;
  font-size: 11px;
}

.place-website a:visited {
  text-decoration: none;
  color: #0073bb;
}
@media only screen and (min-width: 500px) {
  .place-address p,
  .place-number p,
  .place-website a,
  .place-ratings-list li,
  .hours-list tr,
  .user-name h5,
  .place-review-ratings-list li,
  .open-closed h5,
  .place-result-left-ratings h4,
  .place-reviews-number {
    font-size: 14px;
  }
}

@media only screen and (min-width: 650px) {
  .place-result-detail {
    display: flex;
    margin-left: 6.5%;
    margin-right: 6.5%;
  }
  .place-result-left-info {
    width: 60%;
  }
  .place-result-left {
    width: 66%;
  }
  .place-result-right {
    width: 33%;
  }
  .place-result-map {
    height: 75%;
    background-color: lightblue;
  }
}

@media only screen and (min-width: 800px) {
  .place-result-detail {
    margin-left: 9.5%;
    margin-right: 9.5%;
  }
  .place-address p,
  .place-number p,
  .place-website a,
  .place-ratings-list li,
  .hours-list tr,
  .user-name h5,
  .place-review-ratings-list li,
  .open-closed h5,
  .place-result-left-ratings h4,
  .place-reviews-number {
    font-size: 15px;
  }
  .place-images-box {
    margin-left: 8.5%;
    margin-right: 8.5%;
  }
}
