.search-form-box {
  margin-left: 0;
}

.search-form {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  background: white;
  height: 80px;
}

.search-div {
  display: block;
  width: 230px;
}

input.search {
  border: none;
  font-size: 18px;
  height: 28px;
  outline: none;
  width: 300px;
}

input.search.border-right {
  border-right: none;
}

.find-div {
  border-bottom: 0.1px solid lightgray;
}

.find-div,
.near-div {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 6px;
  margin-top: 8px;
}

.find-div label,
.near-div label {
  padding-right: 10px;
}

.search-button {
  border: none;
  background: #d32323;
  border-radius: 0 3px 3px 0;
  border-color: #8d0005;
  font-size: 14px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background: #be2020;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
}
@media only screen and (min-width: 600px) {
  .search-div {
    width: inherit;
  }
}

@media only screen and (min-width: 800px) {
  .search-form {
    height: 38px;
  }
  .search-div {
    display: flex;
    align-items: center;
    width: inherit;
  }
  input.search.border-right {
    border-right: 1px solid grey;
  }
  .find-div {
    border-bottom: none;
  }
  .find-div,
  .near-div {
    width: 275px;
  }
}

@media only screen and (min-width: 960px) {
  .find-div,
  .near-div {
    width: inherit;
  }
}
